book
{
margin:10px;
background-color:#ffffff;
font-family:verdana,helvetica,sans-serif;
}

chapter title
{
margin-top:20px;
display:block;
font-size:200%;
font-weight:bold;
}

sect1 title
{
margin-top:20px;
display:block;
font-size:150%;
font-weight:bold;
}

p
{
margin-top:10px;
margin-left:20px;
display:block;
}

code
{
margin-top:10px;
padding-bottom:15px;
padding-left:20px;
margin-left:40px;
display:block;
white-space:pre;
background-color:#dddddd
}

footnote
{
position:relative;
left:20%;
display:inline-block;
font-size:60%;
}

